.freindsSections {
    height: 100%;
    border-bottom-right-radius: 10px;
    background-color: #E6E6E6;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.friendsSearch {
    height: 100px;
    background-color: #cccccc;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchInput {
    margin: 15px 35px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #4d4d4d;
    outline: none;
}

.searchExit {
    border: none;
    background-color: transparent;
    width: 30px;
    outline: none;
    position: absolute;
    top: 5px;
    left: 5px;
}

.friendsResult {
    padding: 25px;
    color: #4D4D4D;
}

.friendsResult h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10%;
    color: #4D4D4D;
}

.greenButton {
    margin-left: 150px;
}

.selectButton {
    color: #4D4D4D;
}

.selectButton :hover{
    color: #3FA9F5;
}

