.medContainerBanner {
  font-weight: bold;
}

.medContent{
    padding: 25px;
}

.quickGame{
  display:flex;
  height: 350px;
  position: relative;

}

.leftSide{
  width: 50%;
  padding-left: 2rem;
  padding-top: 1.8rem;
}

.rightSide{
  display:flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
}
.doneButton{
  margin-top:1rem;
}
.leftSide .greenButton{
  margin-top: 2rem;
  height: 75px;
  width: 200px;
  font-size:2rem;
}
.medContainerBanner{
  padding-top: 1rem;
}
.twoPlayer i{
  transform: rotate(45deg);
}
