.addPlayers {
  height: 90%;
  padding: 25px 25px 0 25px;
  text-align: right;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.addPlayersButton {
  border: none;
  background: none;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  /*outline: none;*/
}

.friendsList .selectButton {
  color: white;
}

.friendsList .selectButton :hover{
    color: #C14646;
}
