.bigContainer {
    width: 1170px;
    height: 800px;
    border-radius: 15px;
    background-color: #4D4D4D;
    color: white;
}

.bigContainerBanner {
    width: 1170px;
    height: 150px;
    background-color: #C14646;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
}

.bigContainerBanner h1 {
    font-family: sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 4rem;
    text-transform: uppercase;
}
