.scoreBoard{
  display:flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.players{
  font-family: 'Open Sans', sans-serif;
  display:flex;
  justify-content: space-around;
  font-size:2rem;
  margin-top: 2rem;
  /*width: 100px;*/
  /*width: 100%;*/
}
.scoreCountName{
  width:300px;
}
.scoreMiddle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.arrows{
  display: flex;
  flex-direction: column;
}
.arrow{
  font-size:7rem;
}
.scoreBoard h1{
  font-size:10rem;
  width: 300px;
  text-align: center;
  font-weight: bold;
}
.versus{
  font-size: 7rem;
  align-items: center;
}
.arrows button{
  border:transparent;
  background:transparent;
  color:white;
  width: 150px;
}
.arrows button:focus{
  outline:none;
}
