.scoreBoard{
  display:flex;
  justify-content: space-around;
      height: 400px;
    align-items: center;
}
.players{
  display:flex;
  justify-content: space-around;
}
.scoreMiddle{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.arrows{
  display: flex;
  flex-direction: column;
}
