.scoreBoardContainer{
  width: 1000px;
}
.loggingSection{
  display: flex;
  justify-content: center;
}
.greenButton{
  margin:0;
}
.loggingSection .greenButton{
  font-size: 2rem;
  width:210px;
  height: 60px;
}
.bigContent {
  height: 690px;
}
