.selectedPreset{
  background: #4d4d4d;
  height:300px;
  width:300px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.selectedPreset h1{
  font-size: 4rem;
}
.presetChoices ul li{
  background: #4d4d4d;
  height: 140px;
  width: 140px;
  margin: .6rem;
}
.presetChoices ul{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}
.choices{
  display:flex;
  /*margin-left: 1.3rem;*/
  margin-top:.3rem;
  justify-content: space-around;
  height: 350px;
  width: 100%;
  align-items: center;
}
