.catButton {
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    border: none;
}
.catButton:focus {
    outline: 0;
    border: 1px solid rgb(193, 70, 70);
}

.catButton p{
    font-size: 2vmin;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    margin: 0;
}
