.medContainer {
    width: 700px;
    height: 550px;
    border-radius: 15px;
    background-color: #666666;
    color: #F2F2F2;
}

.medContainerBanner {
    width: 700px;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    background-color: #C14646;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.medTitle {
    font-size: 3rem;
}

.medSubTitle {
    font-size: 2rem;
}
