.smallContainer {
    width: 600px;
    height: 420px;
    border-radius: 15px;
    background-color: white;
    color: white;
}

.smallContainerBanner {
    width: 600px;
    height: 120px;
    background-color: #C14646;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
}

.smallContainerBanner h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin: auto 0;
}
