.stats {
  height: 100%;
}

.stats h1 {
  padding: 25px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2vw;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.statContain {
  display: flex;
  justify-content: space-around;
}

.stat {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.stat h3 {
  font-size: 1.5rem;
}

.win h3 {
  color: #7AC943;
}

.loss h3 {
  color: #C14646;
}

#hello {
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
}
