.preset{
  height: 350px;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.preset a{
  text-decoration: none;
}
.preset p{
  text-align: right;
}

.presetButton {
  color: #4d4d4d;
}
.preset .catButton{
  background: #4d4d4d;
  height: 300px;
  width: 300px;
}
.preset .catButton p{
  font-size:3rem;
  letter-spacing: .8rem;
}

.preset .catButton p:hover{
  font-size:4rem;
  letter-spacing: 1rem;
  color: #cccccc;
}

