.preset{
  height: 450px;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.preset a{
  text-decoration: none;
}
.preset p{
  text-align: right;
}

.presetButton {
  color: #4d4d4d;
}
.preset .catButton{
  background: #4d4d4d;
  height: 280px;
  width: 280px;
}
.preset .catButton p{
  font-size:4rem;
  letter-spacing: 1rem;
}
