.gameContain {
    border-bottom: 1px solid #4d4d4d;
}

.statRow {
    display: flex;
    padding-bottom: 10px;
    position: relative;
    color: #f4f5f9
}

.playerName {
    padding-bottom: 5px;
    position: absolute;
    left: 30px;
    font-weight: normal;
}

.playerScore {
    padding-left: 10px;
}

.statTime {
    color: white;
    padding-bottom: 8px;
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: normal;
}
