.dashDrawer {
    width: 350px;
    height: 100vh;
    background-color: #4D4D4D;
}

.heading {
    width: 100%;
    height: 8vh;
    background-color: #666666;
}

.dashContent {
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
